.App {
  /* text-align: center; */
}

.App-logo {
  height: 25vmin;
  width: 25vmin;
  margin: 0 auto 25px auto;
  pointer-events: none;
}

.App-language {
  margin-bottom: 25px;
}

.App-lang-label {
  margin: 0 10px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  /* background-color: #282c34; */
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
}

.App-link {
  color: #61dafb;
}

#businessPriority, #requestorName {
  width: 100%;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
